<!DOCTYPE html>
<html>
<head>
	{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vota/style.css' %}">
	{% endblock %}
	
</head>
<body>

<p>El user o la password es incorecte</p>

<form action="{% url 'vota:loginUser' %}" method="post">
	{% csrf_token %}
	<label for="">User</label>
	<input type="text" name="user" id="user">
	<br>
	<br>

	<label for="">Password</label>
	<input type="text" name="psswd" id="psswd">
	<br>

	<input type="submit" value="login">
	

</form>

</body>
</html>